In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time
from tqdm import tqdm

In [2]:
driver=webdriver.Chrome(r'C:\Users\home\chromedriver.exe')

In [3]:
driver.get('https://www.yatra.com/')

In [4]:
search=driver.find_element_by_xpath('//input[@class="js_ripple search-btn "]')
search.click()

In [5]:
 while True:
    try:
        driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
        time.sleep(2)
    except:
        break

In [6]:
Airline_Name=[]
Source=[]
Destination=[]
Departure=[]
Arrival=[]
Duration=[]
Stops=[]
Price=[]

airline=driver.find_elements_by_xpath('//div[@class="flight-seg col-12"]/div/div/div[1]/div/div/div[2]/span')
for a in airline:
    Airline_Name.append(a.text)
    
source=driver.find_elements_by_xpath('//div[@class="flight-seg col-12"]/div/div/div[1]/div[2]/div/div/div/div/div/div/div[1]/p[1]')
for s in source:
    Source.append(s.text)
    
des=driver.find_elements_by_xpath('//div[@class="flight-seg col-12"]/div/div/div[1]/div[2]/div/div/div/div/div/div/div[3]/p[2]')
for d in des:
    Destination.append(d.text)
    
d_time=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for t in d_time:
    Departure.append(t.text)
    
a_time=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
for b in a_time:
    Arrival.append(b.text)
    
duration=driver.find_elements_by_xpath('//div[@class="flight-seg col-12"]/div/div/div[1]/div[2]/div/div/div/div/div[2]/div[1]/p')
for c in duration:
    Duration.append(c.text)
    
stops=driver.find_elements_by_xpath('//div[@class="flight-seg col-12"]/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div')
for f in stops:
    Stops.append(f.text)

price=driver.find_elements_by_xpath('//div[@class="fare-group i-b"]/label/div/div[2]')
for i in price:
    Price.append(i.text)

In [7]:
len(Airline_Name),len(Source),len(Destination),len(Departure),len(Arrival),len(Duration),len(Stops),len(Price)

(136, 136, 136, 136, 136, 136, 136, 136)

In [8]:
data=pd.DataFrame({})
data['Airline_Name']=Airline_Name
data['Source']=Source
data['Destination']=Destination
data['Departure_Time']=Departure
data['Arrive_Time']=Arrival
data['Duration']=Duration
data['Stops']=Stops
data['Price']=Price

In [9]:
data

,Airline_Name,Source,Destination,Departure_Time,Arrive_Time,Duration,Stops,Price
0,Air Asia,New Delhi,Mumbai,12:40,20:15,7h 35m,1 Stop,"5,953"
1,Air Asia,New Delhi,Mumbai,11:55,20:15,8h 20m,1 Stop,"5,953"
2,Air Asia,New Delhi,Mumbai,08:00,16:35,8h 35m,1 Stop,"5,953"
3,Air Asia,New Delhi,Mumbai,04:55,14:15,9h 20m,1 Stop,"5,953"
4,Air Asia,New Delhi,Mumbai,18:35,06:20\n+ 1 day,11h 45m,1 Stop,"5,953"
...,...,...,...,...,...,...,...,...
131,Vistara,New Delhi,Mumbai,20:30,20:20\n+ 1 day,23h 50m,1 Stop,"15,615"
132,Go First,New Delhi,Mumbai,08:10,13:00,4h 50m,1 Stop,"17,505"
133,Go First,New Delhi,Mumbai,08:10,14:55,6h 45m,1 Stop,"17,505"
134,Go First,New Delhi,Mumbai,08:10,15:40,7h 30m,1 Stop,"17,505"
135,Go First,New Delhi,Mumbai,08:10,17:30,9h 20m,1 Stop,"17,505"

In [10]:
data.to_csv('Flight_Price.csv')

In [11]:
driver.close()